* {
    margin: 0px;
    padding: 0px;
    color: var(--text-muted);
    transition: all 0.3s;
    font-family: "Montserrat";
    scroll-behavior: smooth;
    /* text-align: center; */
}

@font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat.ttf') format("truetype");
}
@font-face {
    font-family: "PlaywriteIN";
    src: url('fonts/PlaywriteIN.ttf') format("truetype");
}

:root {
  --bg-color: #fffefb;      
  --text-main: #1A1A1A;    
  --text-muted: #555555;   
  --accent-gold: #ffa600;  
  --border-light: #E0DED8; 
  --white: #FFFFFF;
  --accent-main: #f0c0ff;
  --black: #000;
}

.darkTheme {
    --bg-color: #1a1a1a;
    --text-main: #f9f7f2;
    --text-muted: #e0ded8;
    --accent-main: #2f3f36;
    --white: #2f3f36;
    --black: #ffffff;
}

::selection {
    background-color: #acff2f38 !important;
}

body {
    background-color: var(--bg-color);
}

#navbar {
    background-color: black;
    /* padding: 0.25%; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#themeSwitch {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    position: absolute;
    left: 5%;
    padding: 0.5%;
}
.darkTheme #themeSwitch {
        box-shadow: none;
}
#moon {
    display: block;
}
#sun {
    display: none;
}
#sun:hover {
    color: white;
}

.darkTheme #moon {
    display: none;
}

.darkTheme #sun {
    display: block;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "PlaywriteIN";
    color: white;
    font-weight: 400;
}

#cart {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: none;
    border-radius: 50%;
    padding: 0.5%;
    position: absolute;
    right: 5%;
    background-color: transparent;
}

#box {
    width: 40%;
    height: 80vh;
    margin-left: 2.5%;
    margin-top: 2.5%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 10%;
}

#display-controls {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#box button {
    display: inline;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 2px 2px 5px grey inset, -2px -2px 5px grey inset;
    background-color: #555555;
}

.display {
    height: 100%;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    display: inline-flex;
}

.img {
    flex: 0 0 100%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
}

.img:nth-child(1){
    background-image: url("4k Desktop Wallpapers Pc.jpg");
}

.img:nth-child(2){
    background-image: url("Don Williams.jpg");
}

.img:nth-child(3){
    background-image: url("STScI-01EVT7X0BR54ZWDP1AG2DA54RA.jpg");
}

.img:nth-child(4){
    background-image: url("pexels-pixabay-86596.jpg");
}

#info {
    width: 60%;
    /* margin-left: 50%; */
    padding: 1%;
    /* background-color: #f0c0ff; */
    height:100px;
    width: 50%;
    overflow: hidden;
    position: absolute;
    left: 45%;
    top: 20%;
    text-align: center;
}





footer {
    background-color: black;
    position: static;
    bottom: 0%;
    padding: 2%;
    margin: 0%;
    color: white;
}
