* {
    margin: 0px;
    padding: 0px;
    color: var(--text-muted);
    transition: all 0.3s;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat.ttf') format("truetype");
}
@font-face {
    font-family: "PlaywriteIN";
    src: url('fonts/PlaywriteIN.ttf') format("truetype");
}

:root {
  --bg-color: #fffefb;      
  --text-main: #1A1A1A;    
  --text-muted: #555555;   
  --accent-gold: #ffa600;  
  --border-light: #E0DED8; 
  --white: #FFFFFF;
  --accent-main: #bfdaff;
  --black: #000;
}

.darkTheme {
    --bg-color: #1a1a1a;
    --text-main: #f9f7f2;
    --text-muted: #e0ded8;
    --accent-main: #006eff;
    --white: #000;
    --black: #ffffff;
}

::selection {
    background-color: #acff2f6e !important;
}

body {
    background-color: var(--bg-color);
}

#navbar {
    background-color: black;
    padding: 0.25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#themeSwitch {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    position: absolute;
    left: 5%;
    padding: 0.5%;
}
.darkTheme #themeSwitch {
        box-shadow: none;
}
#moon {
    display: block;
}
#sun {
    display: none;
}
#sun:hover {
    color: white;
}

.darkTheme #moon {
    display: none;
}

.darkTheme #sun {
    display: block;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: "PlaywriteIN";
    color: white;
    font-weight: 400;
}

#cart {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: none;
    border-radius: 50%;
    padding: 0.5%;
    position: absolute;
    right: 5%;
    background-color: transparent;
}

.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 40px;
    width: 40px;
    background-color: var(--accent-main);
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollToTopButton:hover {
    transition: all 0.3s;
    transform: scale(1.1);
    border: none;
}

.scrollToTopButton.visible {
    pointer-events: auto;
    opacity: 1;
}

#box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
}

#box button {
    background-color: var(--accent-main);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.display {
    height: 500px;
    width: 90%;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    display: flex;
}

.img {
    flex: 0 0 100%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
}

.img:nth-child(1){
    background-image: url("4k Desktop Wallpapers Pc.jpg");
}

.img:nth-child(2){
    background-image: url("Don Williams.jpg");
}

.img:nth-child(3){
    background-image: url("STScI-01EVT7X0BR54ZWDP1AG2DA54RA.jpg");
}

.img:nth-child(4){
    background-image: url("pexels-pixabay-86596.jpg");
}

.card {
    height: 500px;
    width: 600px;
    /* background-color: var(--white); */
    border-radius: 15px;
    margin-left: calc(50% - 300px);
    margin-bottom: 20%;
    margin-top: 10%;
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s;
    background-image: url("STScI-01EVT7X0BR54ZWDP1AG2DA54RA.jpg");
    background-size: cover;
}

.card.active {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.card:nth-child(1) {
    background-image: url('Mr. Bean.jpeg');
}

.card:nth-child(2) {
    background-image: url("STScI-01EVT7X0BR54ZWDP1AG2DA54RA.jpg");
}

.card:nth-child(3) {
    background-image: url("abstract-chess-pieces-digital-art-style.jpg");
}

.card:nth-child(4) {
    background-image: url("pexels-pixabay-86596.jpg");
}

footer {
    background-color: black;
    position: static;
    bottom: 0%;
    padding: 2%;
    margin: 0%;
    color: white;
}