
* {
    margin: 0px;
    padding: 0px;
    color: var(--text-muted);
}

body {
    background-color: var(--bg-color);
}
:root {
  --bg-color: #F9F7F2;      
  --text-main: #1A1A1A;    
  --text-muted: #555555;   
  --accent-gold: #ffa600;  
  --border-light: #E0DED8; 
  --white: #FFFFFF;
  --accent-main: #d2e5ff;
}
.darkMode {
    --bg-color: #1a1a1a;
    --text-main: #f9f7f2;
    --text-muted: #e0ded8;
    --accent-main: #338bff;
}
#navbar {
    background-color: var(--accent-main);
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Pinyon Script";
    color: var(--text-main);
}
#cart {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: none;
    border-radius: 50%;
    padding: 0.5%;
    position: absolute;
    right: 5%;
    background-color: transparent;
}
.display {
    height: 500px;
    width: 70%;
    border-radius: 10px;
    margin-left: 15%;
    background-color: red;
    margin-top: 1%;
}